<h1>Plate Details</h1>

<p>This component demonstrates fetching Employee data from the server.</p>

<p *ngIf="!plateDetail"><em>Loading...</em></p>

<div *ngIf="plateDetail">
    <form class="form-horizontal">
        <div class="form-group">
            <label class=" control-label col-md-2">Name</label>
            <div class="col-md-10">
                <label class=" control-label">{{plateDetail.name}}</label>
            </div>
        </div>
        <div class="form-group">
            <label class=" control-label col-md-2">Min Characters</label>
            <div class="col-md-10">
                <label class=" control-label">{{plateDetail.minCharacters}}</label>
            </div>
        </div>
        <div class="form-group">
            <label class=" control-label col-md-2">Max Characters</label>
            <div class="col-md-10">
                <label class=" control-label">{{plateDetail.maxCharacters}}</label>
            </div>
        </div>
    </form>

    <p>
        <a href="#">Create New Pattern</a>
    </p>

    <table class='table' *ngIf="plateDetail.patterns">
        <thead>
        <tr>
            <th>Name</th>
            <th>Pattern</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let pattern of plateDetail.patterns">
            <td>{{ pattern.name }}</td>
            <td>{{ pattern.pattern }}</td>
            <td>
                <!--<a [routerLink]="['/employee/edit/', emp.id]">Edit</a> |
                <a [routerLink]="" (click)="delete(emp.id)">Delete</a>-->
                <a href="#">Edit</a>
                <a href="#">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

