<p *ngIf="!plateDetail"><em>Loading...</em></p>

<div *ngIf="plateDetail" class="panel-margins">
    <p>
        <a [routerLink]="['/plate-list']" class="btn btn-sm btn-warning">
            <span class="glyphicon glyphicon-backward" aria-hidden="true"></span>&nbsp;Plates
        </a>
    </p>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Details</h3>
        </div>
        <div class="panel-body">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class=" control-label col-md-2">Name</label>
                    <div class="col-md-10">
                        <label class=" control-label">{{plateDetail.name}}</label>
                    </div>
                </div>
                <div class="form-group">
                    <label class=" control-label col-md-2">Min Characters</label>
                    <div class="col-md-10">
                        <label class=" control-label">{{plateDetail.minCharacters}}</label>
                    </div>
                </div>
                <div class="form-group">
                    <label class=" control-label col-md-2">Max Characters</label>
                    <div class="col-md-10">
                        <label class=" control-label">{{plateDetail.maxCharacters}}</label>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Patterns</h3>
        </div>
        <div class="panel-body">
            <p>
                <a class="btn btn-sm btn-primary" [routerLink]="['/newpatterns', plateDetail.id,0]" [queryParams]="{min:plateDetail.minCharacters, max:plateDetail.maxCharacters}">
                    <span class="glyphicon glyphicon-plus"></span>&nbsp;Create
                </a>
            </p>

            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-info">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Pattern 1
                            </a>
                            <button class="btn btn-xs pull-right btn-danger btn-margins">
                                <span class="glyphicon glyphicon-cog"></span>&nbsp;Delete
                            </button>
                            <button class="btn btn-xs pull-right btn-warning btn-margins">
                                <span class="glyphicon glyphicon-cog"></span>&nbsp;Edit
                            </button>
                        </h4>
                        
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            Contains the description of the pattern
                        </div>
                    </div>
                </div>
            </div>

            <table class='table' *ngIf="plateDetail.patterns">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Pattern</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let pattern of plateDetail.patterns">
                        <td>{{ pattern.name }}</td>
                        <td>{{ pattern.pattern }}</td>
                        <td>
                            <a class="btn btn-sm btn-warning">
                                <span class="glyphicon glyphicon-cog"></span>&nbsp;Edit
                            </a>
                            <a class="btn btn-sm btn-danger">
                                <span class="glyphicon glyphicon-remove"></span>&nbsp;Delete
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


</div>
